
.content-box {
    padding: 13px;
    margin: 20px;
    text-align: center;
    background-color: white;
}


.content {
    background-color: whitesmoke;
    margin: 0px;
    width: 100%;
}
.right-side {
    background-color: lavenderblush;
    height: 350px;


}

.footer{
  background: #f5f5f5;
  padding: 36px;
  margin-top: 50px;
}
.carousel {
    margin-top: -20px;
}
.row.inner-part {
    margin-top: 0px;
    background-color: whitesmoke;
    width: 100%;
    margin-left: 0px;
}
.row {
    width: 100%;
    margin-top: 19px;
    margin-left: 0px;
  }
